<% if @user.errors.any? %>
  <div class="error_explanation">
    <div id="error">
      <%= @user.errors.first.full_message %>
    </div>
  </div>
<% end %>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :username, "Your user name here" %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email, placeholder: "example@example.com" %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <%= form.submit "Submit" %>
<% end %>
